@import "../components/bootstrap/scss/bootstrap.scss";
@import "../components/components-font-awesome/scss/font-awesome.scss";

@import "_sidebar.scss";

@import "_header.scss";

.row{
	@include make-row();
}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card{
	margin-bottom: 2.3rem;
	height: 437px;

	.nav{
		flex-direction: column;
		@include media-breakpoint-up('lg'){
			flex-direction: row;
			.nav-item{
				margin-right: .5em;
			}
		}
	}

	.card-header,
	.card-footer{
		background-color: #fff;
	}

	&.contractors{
		.card-block{
			display: flex;
			justify-content: center;
			align-items: center;
			.fa{
				color: $brand-warning;
				font-size: 5rem;
			}
		}
		
		.card-footer{
			display: flex;
			justify-content: space-between;
			.item{
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 1.3rem;
				.warning{
					color: $brand-warning;
				}
				.info{
					color: $brand-info;
				}
			}
		}

	}
}

.badge{
	width: 14px;
	height: 14px;
	display: inline-block;
	&.primary{
		background-color: $brand-primary;
	}
	&.info{
		background-color: $brand-info;
	}
	&.warning{
		background-color: $brand-warning;
	}
}

.container{
	width: 100%;
}

.coluna-menor,
.coluna-maior {
	width: 100%;
	padding: 0 30px;
}

@include media-breakpoint-up('sm'){
	.coluna-menor{
		@include make-col-project(4);
	}

	.coluna-maior{
		@include make-col-project(8);
	}
}

@include media-breakpoint-up('lg'){
	.container{
		width: 84%;
		margin-left: 190px;
	}
}